.svg-arrow-left {
	background: url("svg/sprite.css-e7f77f10.svg") 13.673055859802847% 84.18467583497053% no-repeat;
}

.svg-arrow-left-dims {
	width: 50px;
	height: 26px;
}

.svg-arrow-right {
	background: url("svg/sprite.css-e7f77f10.svg") 16.411281489594742% 84.18467583497053% no-repeat;
}

.svg-arrow-right-dims {
	width: 50px;
	height: 26px;
}

.svg-camera-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 3.50704989154013% 99.94071146245061% no-repeat;
}

.svg-camera-icon-dims {
	width: 32px;
	height: 32px;
}

.svg-cart-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 64.99757503906882% 78.03736038628493% no-repeat;
}

.svg-cart-icon-dims {
	width: 20.3px;
	height: 18.85px;
}

.svg-checkout-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 62.38709292421867% 78.33460627068523% no-repeat;
}

.svg-checkout-icon-dims {
	width: 32.67px;
	height: 22.74px;
}

.svg-eco-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 7.966247837616525% 92.35223999205324% no-repeat;
}

.svg-eco-icon-dims {
	width: 31.97px;
	height: 37.3px;
}

.svg-facebook {
	background: url("svg/sprite.css-e7f77f10.svg") 13.233998194557884% 91.48167827764003% no-repeat;
}

.svg-facebook-dims {
	width: 14.96px;
	height: 27.72px;
}

.svg-flag {
	background: url("svg/sprite.css-e7f77f10.svg") 0 96.6123182758155% no-repeat;
}

.svg-flag-dims {
	width: 46.68px;
	height: 81.69px;
}

.svg-gift-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 0 99.98912516930136% no-repeat;
}

.svg-gift-icon-dims {
	width: 32.67px;
	height: 32.49px;
}

.svg-handmade-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 9.712591562908944% 92.08422887592485% no-repeat;
}

.svg-handmade-icon-dims {
	width: 34.37px;
	height: 34.37px;
}

.svg-htmlacademy-logo {
	background: url("svg/sprite.css-e7f77f10.svg") 0 0 no-repeat;
}

.svg-htmlacademy-logo-dims {
	width: 1280px;
	height: 800px;
}

.svg-instagram {
	background: url("svg/sprite.css-e7f77f10.svg") 64.94124245643745% 80.47561774570488% no-repeat;
}

.svg-instagram-dims {
	width: 21.77px;
	height: 21.33px;
}

.svg-interior-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 2.542788351545392% 94.71469758249371% no-repeat;
}

.svg-interior-icon-dims {
	width: 40.22px;
	height: 62.41px;
}

.svg-like-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 11.57057977698798% 91.49428228393725% no-repeat;
}

.svg-like-icon-dims {
	width: 33.05px;
	height: 27.86px;
}

.svg-logo-footer {
	background: url("svg/sprite.css-e7f77f10.svg") 8.343759510364183% 84.85652613026517% no-repeat;
}

.svg-logo-footer-dims {
	width: 101.62px;
	height: 34.06px;
}

.svg-mail-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 1.7716919739696313% 99.94071146245061% no-repeat;
}

.svg-mail-icon-dims {
	width: 32px;
	height: 32px;
}

.svg-menu-gamburger {
	background: url("svg/sprite.css-e7f77f10.svg") 68.96403094760889% 81.7368932038835% no-repeat;
}

.svg-menu-gamburger-dims {
	width: 19.96px;
	height: 14px;
}

.svg-mishka-logo-desktop {
	background: url("svg/sprite.css-e7f77f10.svg") 0 88.23317443811838% no-repeat;
}

.svg-mishka-logo-desktop-dims {
	width: 148.05px;
	height: 72.71px;
}

.svg-mishka-logo-mobile {
	background: url("svg/sprite.css-e7f77f10.svg") 8.269055691154541% 88.31382498984112% no-repeat;
}

.svg-mishka-logo-mobile-dims {
	width: 85.59px;
	height: 35.03px;
}

.svg-mobile-close {
	background: url("svg/sprite.css-e7f77f10.svg") 66.07041805668584% 80.41114226812182% no-repeat;
}

.svg-mobile-close-dims {
	width: 20.51px;
	height: 20.51px;
}

.svg-phone-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 18.889134979499453% 84.04679945472556% no-repeat;
}

.svg-phone-icon-dims {
	width: 24.83px;
	height: 24.33px;
}

.svg-play-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 99.94378162283715% 0 no-repeat;
}

.svg-play-icon-dims {
	width: 595.28px;
	height: 841.89px;
}

.svg-scandian-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 12.771260836767937% 87.64495854111954% no-repeat;
}

.svg-scandian-icon-dims {
	width: 46.58px;
	height: 27.33px;
}

.svg-search-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 65.99547998278088% 77.9423226812159% no-repeat;
}

.svg-search-icon-dims {
	width: 17.6px;
	height: 17.6px;
}

.svg-support-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 63.12299653097967% 80.62146117826845% no-repeat;
}

.svg-support-icon-dims {
	width: 54.16px;
	height: 23.18px;
}

.svg-toy-icon {
	background: url("svg/sprite.css-e7f77f10.svg") 4.785242290748899% 94.44625043174383% no-repeat;
}

.svg-toy-icon-dims {
	width: 60px;
	height: 59.62px;
}

.svg-twitter {
	background: url("svg/sprite.css-e7f77f10.svg") 63.841490734193066% 78.13797212427845% no-repeat;
}

.svg-twitter-dims {
	width: 23.49px;
	height: 20.17px;
}

.svg-zigzag-fill-desktop {
	background: url("svg/sprite.css-e7f77f10.svg") 0 81.48514851485149% no-repeat;
}

.svg-zigzag-fill-desktop-dims {
	width: 1150px;
	height: 34px;
}

.svg-zigzag-line-desktop {
	background: url("svg/sprite.css-e7f77f10.svg") 0 78.35455435847209% no-repeat;
}

.svg-zigzag-line-desktop-dims {
	width: 1150px;
	height: 23px;
}

