.page-header{
width:320px;
  margin:0 auto;
  margin-bottom:30px;
}
.page-header__wrapper{
  background: url("resources/img/img-opt/index/mobile/hero-mobile.jpg") no-repeat bottom 130px center;
}
.page-header__logo{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.header-logo{
  border-bottom: 1px solid #ececec;
}
.main-nav{
position: relative;
}
.main-nav__toggle{
  position:absolute;
  top:-51px;
  right: 24px;
  background-color:white;
  border:none;
  &:hover{
    cursor:pointer;
  }
  span{

  }
  svg{

  }
}
.main-nav__list-main{
  margin:0;
  padding:0;
}
.list-main{
  list-style:none;
  background-color: white;
}
.list-main__item{

}
.list-main__link{
  display:flex;
  align-items: center;
  position: relative;
  min-height: 79px;
  font: 17px/24px open_sans, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
  padding-left:75px;
  svg{
    position: absolute;
    left:30px;
    fill:#d3d2d2;
  }
}
.main-nav__list-second{
}
.list-second{
  display:none;
}
.list-second__item{

}
.list-second__link{

}
.main-nav__delivery{
  display: none;
}
.title{
 font:25px/30px open_sans, sans-serif;
  font-weight: bold;
}
.page-header__title{
  font-size:27px;
  width: 216px;
  text-align: center;
  margin:0 auto;
  margin-top:70px;
  margin-bottom:120px;
}
.different{

}
.different__link{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-decoration: none;
  padding-left:27px;
  color: white;
  font:19px/24px open_sans, sans-serif;
  font-weight: bold;
  min-height: 103px ;
  svg{
    margin-right: 30px;
    fill:#3bb09d;
  }
}
.different__link--subjects{
  background-color: #63d1bb;
  svg{
    margin-right: 40px;
  }
}
.different__link--toys{
  background-color:#56c3b2;
}