.page-header{
width:320px;
  margin:0 auto;
  margin-bottom:30px;
}
.page-header__wrapper{
  background: url("../resources/img/img-opt/index/mobile/hero-mobile.jpg") no-repeat bottom 130px center;
}
.page-header__logo{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.header-logo{
  border-bottom: 1px solid #ececec;
  &:hover{
    opacity:0.7;
  }
  &:active{
    opacity:0.3;
  }
}
.main-nav{
position: relative;
}
.main-nav__toggle{
  position:absolute;
  top:-51px;
  right: 24px;
  background-color:white;
  border:none;
  &:hover{
    cursor:pointer;
  }
  span{

  }
  svg{

  }
}
.main-nav__list-main{
  margin:0;
  padding:0;
}
.list-main{
  list-style:none;
  background-color: white;
}
.list-main__item{

}
.list-main__link{
  display:flex;
  align-items: center;
  position: relative;
  min-height: 79px;
  font: 17px/24px open_sans, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
  padding-left:75px;
  &:hover{
    opacity: 0.7;
    svg{
      opacity:1;
      fill:#56c3b2;
    }
  }
  &:active{
    opacity: 0.3;
  }
  svg{
    position: absolute;
    left:30px;
    fill:#d3d2d2;
  }
}
.main-nav__list-second{
}
.list-second{
  display:none;
}
.list-second__item{

}
.list-second__link{

}
.main-nav__delivery{
  display: none;
}
.title{
 font:25px/30px open_sans, sans-serif;
  font-weight: bold;
}
.page-header__title{
  font-size:27px;
  width: 216px;
  text-align: center;
  margin:0 auto;
  margin-top:70px;
  margin-bottom:120px;
}
.different{

}
.different__link{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-decoration: none;
  padding-left:27px;
  color: white;
  font:19px/24px open_sans, sans-serif;
  font-weight: bold;
  min-height: 103px ;
  transition-duration: 500ms;
  &:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
  }
  &:active{
    opacity: 0.7;
  }
  svg{
    margin-right: 30px;
    fill:#3bb09d;
  }
}
.different__link--subjects{
  background-color: #63d1bb;
  svg{
    margin-right: 40px;
  }
}
.different__link--toys{
  background-color:#56c3b2;
}
/*TABLET***************************************************************************************/
@media (min-width: 768px) {
  .page-header{
    width: 768px;
  }
  .page-header__wrapper{
    width:668px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 167px);
    background: url("../resources/img/img-opt/index/desktop/hero-desktop.jpg") no-repeat bottom 0px center;

  }
  .page-header__logo{
    grid-column: 1/2;
    grid-row:1;
  }
  .header-logo{
    &:hover{
    }
    &:active{
    }
  }
  .main-nav{
    grid-column: 2/5;

  }
  .main-nav__toggle{
    display: none;
    span{

    }
    svg{

    }
  }
  .main-nav__list-main{

  }
  .list-main{
    display: flex;
  }
  .list-main__item{
    &:nth-child(2){
      display: none;
    }
  }
  .list-main__link{

    svg{
    }
  }
  .main-nav__list-second{
  }
  .list-second{
  }
  .list-second__item{

  }
  .list-second__link{

  }
  .main-nav__delivery{
  }
  .title{
  }
  .page-header__title{
    grid-column: 1/5;
    grid-row:2;
    width:100%;
    font-size:43px;
    line-height:50px;
    margin-top:70px;
    margin-bottom: 370px;
  }
  .different{
    grid-column: 1/5;
    grid-row:3;
    display: flex;
    flex-flow:row nowrap;
  }
  .different__link{
    width:50%;
    svg{
    }
  }
  .different__link--subjects{
    svg{
    }
  }
  .different__link--toys{
  }

}
/*DESKTOP***************************************************************************************/
@media (min-width: 1250px) {
  .page-header{
    width: 1250px;
    background:#f9f9f9 url("../resources/img/img-opt/index/desktop/hero-desktop.jpg") no-repeat bottom 0px center;
  }
  .page-header__wrapper{
    width:1050px;
    grid-template-columns: repeat(6, 175px);
  }
  .page-header__logo{
    background-color:white;
    grid-column: 1/2;
    grid-row:1;
  }
  .header-logo{
    &:hover{
    }
    &:active{
    }
  }
  .main-nav{
    grid-column: 2/-1;
  }
  .main-nav__toggle{
    span{

    }
    svg{

    }
  }
  .main-nav__list-main{

  }
  .list-main{
  }
  .list-main__item{
    &:nth-child(2){
      display: inherit;
    }
  }
  .list-main__link{

    svg{
    }
  }
  .main-nav__list-second{
    //display:inherit;
  }
  .list-second{
    //display: inherit;
  }
  .list-second__item{

  }
  .list-second__link{

  }
  .main-nav__delivery{
    //display: inherit;
  }
  .title{
  }
  .page-header__title{
    grid-column: 2/-2;
    padding:0 45px;
  }
  .different{
    grid-column: 1/-1;
  }
  .different__link{

    svg{
    }
  }
  .different__link--subjects{
    svg{
    }
  }
  .different__link--toys{
  }

}