.page-main{
  width:320px;
  margin:0 auto;
}
.page-main__wrapper{

}
/*TABLET***************************************************************************************/
@media (min-width: 768px) {
  .page-main{
    width:768px;
    margin:0 auto;
  }
  .page-main__wrapper{

  }
}
/*desktop***************************************************************************************/
@media (min-width: 1250px) {
  .page-main{
    width:1250px;
    margin:0 auto;
  }
  .page-main__wrapper{

  }
}